// App ------- >
@charset "utf-8";
@import "~bulma/bulma.sass";

// brand colors
$default: #000000;
$white: #ffffff;

// structure
*{
  margin: 0 auto;
  padding: 0 auto;
}

html{
  background: $white;
}

#app {
  #components {
    section {
      color: #23170d;
      margin: 1rem;
      text-align: center;
    }
  }
}

// Components styles
@import 'Made';
@import 'WillMade';