@charset "utf-8";

// bulma
@import "~bulma/bulma.sass";

// variables
$default: #2a0d00;
$components-space-tb: 15px 0 15px 0;

// structure
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/poppins-regular-webfont.woff2') format('woff2'),
  url('../fonts/poppins/poppins-regular-webfont.woff') format('woff'),
  url('../fonts/poppins/poppins-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'Poppins', sans-serif;

  body {
    #app {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      height: 100%;
      animation: 60s colorchange infinite;
      -webkit-animation: 60s colorchange infinite;

      @keyframes colorchange {
        0% {
          background: #b2fecc;
        }
        25% {
          background: #ffb0cc;
        }
        50% {
          background: #dfbce7;
        }
        75% {
          background: #a3ffed;
        }
        100% {
          background: #fff288;
        }
      }

      @-webkit-keyframes colorchange {
        0% {
          background: #b2fecc;
        }
        25% {
          background: #ffb0cc;
        }
        50% {
          background: #dfbce7;
        }
        75% {
          background: #a3ffed;
        }
        100% {
          background: #fff288;
        }
      }

      @media (orientation: landscape) {
        height: auto;
      }

      #components {
        section {
          color: $default;
        }
      }

    }
  }

}

// components
@import 'Loading';
@import 'Made';
@import 'WillMade';
@import 'CoffeeGifs';