// CoffeeGifs component styles

.coffeeGifs {
  position: relative;

  .byGiphy {
    background-image: url("../images/giphy.png");
    background-repeat: no-repeat;
    background-size: 64px;
    background-position: center center;
    width: 64px;
    height: 32px;
    background-color: rgba(255, 255, 255, 0.0);
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .giphyImage {
    display:block;
    margin: auto;
  }

  img {
    width: auto;
    height: 128px;
    mix-blend-mode: multiply;

    //border: 2px dashed $default;
  }

  /** */button {
    border: none;
    cursor: pointer;
  }


}

