// CoffeeGifs component styles

.coffeeGifs {
  position: relative;

  .byGiphy {
    background-image: url("../images/giphy.png");
    background-repeat: no-repeat;
    background-size: 36px;
    background-position: center center;
    width: 50px;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.90);
    position: absolute;
    //box-shadow: 1px 1px rgba(42, 13, 0, 0.51);
    top: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .giphyImage {
    display:block;
    margin: auto;
  }

  img {
    width: auto;
    height: 128px;
    //border: 2px dashed $default;
  }

  button {
    background: $default;
    border: none;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
  }


}

