// MadeUI component styles


.made {

  padding: 30px 0 15px 0;

  .theBox {
    position: relative;
    width: 140px;
    height: 150px;
    margin: 0 auto;
    padding: 10px;
    border: 4px solid rgba(42, 13, 0, 0.20);

    ul {
      padding: 10px 0;

      li {
        font-size: 0.8em
      }
    }


    .top,
    .bottom,
    .left,
    .right {
      position: absolute;
      -webkit-animation: 8s linear infinite;
      animation: 8s linear infinite;
    }

    .top {
      top: -4px;
      left: -4px;
      height: 4px;
      -webkit-animation-name: top;
      animation-name: top;
    }

    @-webkit-keyframes top {
      25% {
        width: 0;
        background: $default;
      }
      38% {
        width: calc(103%);
        background: $default;
      }
      50% {
        background: $default;
      }
      62% {
        background: $default;
      }
      75% {
        width: calc(103%);
        background: $default;
      }
      88% {
        left: auto;
        right: -4px;
        width: 0;
        background: $default;
      }
    }

    .bottom {
      bottom: -4px;
      right: -4px;
      height: 4px;
      -webkit-animation-name: bottom;
      animation-name: bottom;
    }

    @-webkit-keyframes bottom {
      0% {
        width: 0;
      }
      12% {
        width: calc(103%);
        background: $default;
      }
      25% {
        background: $default;
      }
      38% {
        background: $default;
      }
      50% {
        width: calc(103%);
        background: $default;
      }
      62% {
        left: -4px;
        width: 0;
        background: $default;
      }
      75% {
        background: $default;
      }
    }

    .left {
      bottom: -4px;
      left: -4px;
      width: 4px;
      -webkit-animation-name: left;
      animation-name: left;
    }

    @-webkit-keyframes left {
      12% {
        height: 0;
        background: $default;
      }
      25% {
        height: calc(103%);
        background: $default;
      }
      38% {
        background: $default;
      }
      50% {
        background: $default;
      }
      62% {
        height: calc(103%);
        background: $default;
      }
      75% {
        top: -4px;
        height: 0;
        background: $default;
      }
      88% {
        background: $default;
      }
    }

    .right {
      top: -4px;
      right: -4px;
      width: 4px;
      -webkit-animation-name: right;
      animation-name: right;
    }

    @-webkit-keyframes right {
      38% {
        height: 0;
        background: $default;
      }
      50% {
        height: calc(103%);
        background: $default;
      }
      62% {
        background: $default;
      }
      75% {
        background: $default;
      }
      88% {
        height: calc(103%);
        background: $default;
      }
      100% {
        top: auto;
        bottom: -4px;
        height: 0;
        background: $default;
      }
    }

    h2 {
      font-size: 1.8rem;
      line-height: 1.8rem;

      strong {
        color: $default;
      }
    }
  }

  h5 {
    text-transform: uppercase;
    font-size: 0.8rem;
    margin: 0 0 10px 0;
  }

  .startText {
    position: relative;
    margin: 0 auto;
    height: 45px;

    .st1,
    .st2 {
      position: absolute;
      left: 0;
      right: 0;
      padding: 0;
      margin: 0;
      width: 50%;
      text-align: center;
      animation-duration: 30s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
    }

    .st1 {
      animation-name: text-anim-1;

      @keyframes text-anim-1 {
        0%, 8.3% {
          left: -100%;
          opacity: 0;
        }
        8.3%, 25% {
          left: 25%;
          opacity: 1;
        }
        33.33%, 100% {
          left: 100%;
          opacity: 0;
        }
      }
    }

    .st2 {
      animation-name: text-anim-2;

      @keyframes text-anim-2 {
        0%, 33.33% {
          left: 100%;
          opacity: 0;
        }
        41.63%, 91.62% {
          left: 25%;
          opacity: 1;
        }
        100% {
          right: 100%;
          opacity: 0;
        }
      }
    }

  }

  .rating-box {
    position: relative;
    height: 35px;

    .rating {
      unicode-bidi: bidi-override;
      direction: rtl;
      font-size: 1.2rem;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;

      span {
        display: inline-block;
        position: relative;
        width: 1.1em;
        bottom: -2px;
      }

      .bigStar {
        font-size: 1.4em;
        bottom: 2px;
      }

      .nopoint {
        opacity: 0.2;
      }

      .point {
        -webkit-animation: anim 2s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
        animation: anim 2s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;

        &:before {
          content: "\2605";
          position: absolute;
        }
      }

      @-webkit-keyframes anim {
        15% {
          -webkit-transform: translateY(5px);
          transform: translateY(5px);
        }
        30% {
          -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
        }
        50% {
          -webkit-transform: translateY(3px);
          transform: translateY(3px);
        }
        65% {
          -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
        }
        80% {
          -webkit-transform: translateY(2px);
          transform: translateY(2px);
        }
        100% {
          -webkit-transform: translateY(0);
          transform: scale(1.3);
        }
      }
      @keyframes anim {
        15% {
          -webkit-transform: translateY(5px);
          transform: translateY(5px);

        }
        30% {
          -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
        }
        50% {
          -webkit-transform: translateY(3px);
          transform: translateY(3px);
        }
        65% {
          -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
        }
        80% {
          -webkit-transform: translateY(2px);
          transform: scale(1.3);
        }
        100% {
          -webkit-transform: translateY(0);
          transform: translateY(0);
        }
      }
    }
  }


}


