// WillMade component styles


.willmade {
    h2 {
        font-size: 4em;
        font-weight: 600;
        
    }
    h3 {
        font-size: 1.6em;
    }
    strong {
        color: #23170d;
        font-weight: 700;
    }
}